<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </co-->nfigSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<nlog internalLogFile="internal.txt" throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
      <add assembly="NLog.Couchbase" />
    </extensions>
    <targets>
      <target name="couchbase" type="Couchbase" bucket="pms_logging" bucketPassword="pms_logging" 
              documentSource="Parameters" documentFormat="JSON"
              key="${date:format=yyyy-MM-dd HH\:mm\:ss}__${parameter-value:Item=0.OutputParams.EchoToken}__${threadid}_${guid}">
        <server uri="http://192.168.100.111:8091/pools" />
        <server uri="http://192.168.100.112:8091/pools" />
        <server uri="http://192.168.100.113:8091/pools" />
      </target>
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" appendTo="couchbase" />
    </rules>
  </nlog>-->
</configuration>