<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />-->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <nlog internalLogFile="internal.txt" throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
      <add assembly="NLog.Couchbase" />
    </extensions>
    <targets>
      <target name="couchbase" xsi:type="Couchbase" bucket="bucketName" bucketPassword="bucketPassword" documentSource="Parameters" documentFormat="JSON">
        <server uri="http://192.168.56.101:8091/pools" />
        <server uri="http://192.168.56.102:8091/pools" />      
      </target>
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" appendTo="couchbase" />
    </rules>
  </nlog>

</configuration>
